@model MobilePhonesIMTS.Models.ArticleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Change the file </h2>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Change the file for     @Model.Title</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ActualFile" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" name="specificFile" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
