@{
    ViewData["Title"] = "Success Page";
}
<h1>Upload Files</h1>
<div class="row">
    <section>
        <div> Sucessfully uploaded an article </div>
        <div> The file is located in : @ViewData["FilePath"]</div>
    </section>

</div>