@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
   
    <div class="wrapper">
        <div class="center-btn text-center" id="login">
            <h1>Welcome to IMTS Library!</h1>
            <a href="/uploadarticles" class="btn btn-success btn-lg">Upload Your Article</a>
        </div>
    </div>
</div>
